

<body>
  <section class="background-radial-gradient overflow-hidden">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5 animate__animated animate__fadeInDown">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0 text-lg-end" style="height: 200px;">
          <img src="assets\img\UTRNG_LOGO_VERDE-768x150.png" alt="" class="float-start animated-image" style="height: 130px; width: 500px;">
      </div>

        <div class="col-lg-6 mb-5 mb-lg-0 position-relative" >
          <div class="card animate__animated animate__fadeInDown" id="cardLogin">
            <div class="card-body p-5 text-center">
              <div class="mb-md-5 mt-md-4 pb-5">
                <h2 class="fw-bold mb-2 text-uppercase">Bienvenidos a la biblioteca</h2>
                <p class="text-dark mb-5">Por favor regístrate.</p> <!-- Cambié el color del texto a oscuro -->

                <div class="form-outline form-white mb-4">
                  <input type="text" id="typeMatriculaX" class="form-control form-control-lg" [(ngModel)]="matricula" />
                  <label class="form-label" for="typeMatriculaX">Matrícula</label>
                </div>
            
                <button class="visit-button" (click)="getAlumnoByMatricula()">Ingresar</button>

                <div class="line-animation"></div>

              </div>
                <div style="text-align: center;">
                  <p class="mb-0">¿Eres visita? <a href="#!" class="text-dark fw-bold" (click)="showExternoForm()" >Haz clic aquí</a> <!-- Cambié el color del texto a oscuro -->

                <p class="mb-0">¿Eres docente? <a href="#!" class="text-dark fw-bold" (click)="openSweetAlertForm()">Haz clic aquí</a> <!-- Cambié el color del texto a oscuro -->

                </p>
              </div>
                <i class="material-icons" (click)="admin()" style="margin-top: 20px;">person</i>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

