<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <h1 class="resaltado">Reportes de Visitas por Carrera</h1>
        <div class="fechas">
          <label for="fechaInicio">Buscar por Fecha:</label>
          <input type="date" id="fechaInicio" name="fechaInicio" [(ngModel)]="fechaInicio" />
          <label>a</label>
          <input type="date" id="fechaFin" name="fechaFin" [(ngModel)]="fechaFin" />
          <button mat-raised-button style="background-color: #42a5f5" (click)="buscarVisitas()">
            Buscar
          </button>
          <button mat-raised-button style="margin: 10px; background-color: darkgray" (click)="limpiarFormulario()">
            Limpiar
          </button>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Estadisticas por Areas</h4>
              <p class="card-category">Here is a subtitle for this table</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-primary">
                    <tr>
                      <th>Carrera</th>
                      <th>Visitas por Carrera</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of carreraData">
                      <td>{{ item.nombreCarrera }}</td>
                      <td>{{ item.visitas }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="grafica">
                <ngx-charts-bar-vertical
                [view]="[850, 500]"
                [results]="carreraChartData"
                [xAxisLabel]="'Grafica de Visitas a la Biblioteca'"
                [legendTitle]="'Visitas'"
                [yAxisLabel]="'VISITAS'"
                [legend]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [xAxis]="true"
                [yAxis]="true"
                [gradient]="true"
              ></ngx-charts-bar-vertical>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  